/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lexend Deca', sans-serif;
  font-size: 15px;
  font-weight: 400;
  color:  hsla(0, 0%, 100%, 0.75);
}

body {
  max-width: 1440px;
  min-width: 375px;
  margin: 0 auto;
  height: 1500px;
  background-color: hsl(0, 0%, 95%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.page {
  width: 85%;
  height: 90%;
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*section styles*/
section {
  width: 100%;
  height: calc(100%/3);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 10%;
}

.sedans {
  background-color: hsl(31, 77%, 52%);
}

.suvs {
  background-color: hsl(184, 100%, 22%);
}

.lux {
  background-color: hsl(179, 100%, 13%);
}

img {
  margin-bottom: 10%;
}

/*heading styles*/
h2 {
  font-family: 'Big Shoulders Display', cursive;
  font-size: 3em;
  text-transform: uppercase;
  margin-bottom: 10%;
}

/*body copy styles*/
p {
  margin-bottom: 10%;
  width: 90%;
  line-height: 2em;
}

/*button styles*/
button {
  background-color: hsl(0, 0%, 95%);
  padding: 4% 10%;
  border: none;
  border-radius: 30px;
  transition: all 1s;
}

.sedans-button {
  color:hsl(31, 77%, 52%)
}

.suv-button {
  color: hsl(184, 100%, 22%)
}

.lux-button {
  color: hsl(179, 100%, 13%);
}

/*button hover styles*/
button:hover {
  background-color: transparent;
  border: 2px solid hsl(0, 0%, 95%);
  color: hsl(0, 0%, 95%);
  cursor: pointer;
}

.attribution { 
  font-size: .75em;
  text-align: center;
  color: black;
  padding-top: 5%;
}

.attribution a {
   color: hsl(228, 45%, 44%);
   font-size: 1em;
}

/*===========media queries===========*/
@media screen and (min-width: 768px) {
  body {
    height: 800px;
  }
  .page {
    height: 70%;
    flex-direction: row; 
  }
  section {
    width: calc(100%/3);
    height: 100%;
    padding: 5%;
  }
  img {
    margin-bottom: 20%;
  }
  h2 {
    margin-bottom: 10%;
  }
  p {
    margin-bottom: 40%;
    width: 100%;
  }
  button {
    padding: 5% 10%;
  }
  .attribution {
    padding-top: 2%;
  }
}
@media screen and (min-width: 1440px) {
  .page {
    width: 70%;
  }
  p {
    width: 90%;
  }
}
